[user]
  name = Philipp Rieber
  email = philipp.rieber@ottonova.de
  signingkey = C9F66375
[core]
  excludesfile = ~/.gitignore
  attributesfile = ~/.gitattributes
[commit]
  gpgsign = true
[tag]
	gpgsign = true
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p
  l = log --pretty=format:'%Cred%h%Creset -%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
